{% extends 'base.html' %}
{% block left_header %}{% endblock %}
{% block right_header %}{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
	<h1>Home Page</h1>
	<hr>
	<h2><a href="../downloads">Downloads</a></h2>
	<div><a href="../downloads/SoFGV_{{ version | replace(' ', '_') }}.zip">Latest version ({{ version }})</a></div>
	<h2>Characters</h2>
	{% for stats in chrs %}
	{% if not stats['hidden'] %}
	<div>
		<a href="generated/{{ stats['name'] }}/index.html">{{ stats['name'] }}</a>
	</div>
	{% endif %}
	{% endfor %}
	<h2>System mechanics</h2>
	<div>
		<a href="generated/base/typing_system.html">Typing System</a>
	</div>
	<div>
		<a href="generated/base/cancel_tree.html">Cancel Tree</a>
	</div>
	<div>
		<a href="generated/base/combo.html">Combo</a>
	</div>
	<div>
		<a href="generated/base/pressure.html">Pressure</a>
	</div>
	<div>
		<a href="generated/base/meter.html">Meter</a>
	</div>
	<div>
		<a href="generated/base/platforms.html">Platforms</a>
	</div>
	<div>
		<a href="generated/base/HUD.html">HUD</a>
	</div>
	<h2><a href="generated/base/glossary.html">Glossary</a></h2>
{% endblock %}
