{% extends 'base.html' %}
{% block title %}Cancel Tree{% endblock %}
{% block content %}
	<h1>Cancel Tree</h1>
	<hr>
	<h2>The Different Types of Moves</h2>
	Moves are categorized depending on their input, this page will go over each types of move from bottom to top of the cancel tree.<br>
	<ul>
		<li>
			<span class="not-typed">Non-Typed</span> jabs, on 2<span class="not-typed">N</span>, 5<span class="not-typed">N</span> and j.5<span class="not-typed">N</span> inputs: self cancelable and pretty fast as all jabs are, but won't always give you the best rewards.<br>
			<img src="Non-typed_jab.png" alt="Non-typed_jab" height="147" width ="56"><br>
		</li>
		<li>
			<span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> jabs, on 2X, 5X; j.5X (X being <span class="spirit">S</span>, <span class="matter">M</span>, <span class="void">V</span>): have similar properties except that thay are not repeatable.<br>
			<img src="Spirit_jab.png" alt="Spirit_jab" height="140" width ="86"><span>  </span><img src="Matter_jab.png" alt="Matter_jab" height="104" width ="127"><span>  </span><img src="Void_jab.png" alt="Void_jab" height="147" width ="63"><span>  </span><br>
		</li>
		<li>
			<span class="not-typed">Non-Typed</span> command normals, can be accessed with any simple input that is not already that of a jab and using the <span class="not-typed">N</span> button:<br>
			Command normals, <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> or not, are what most of the input of a character are and except being generally slower than jabs, they are very diversified and learning what each of your command normals do, is a big part of mastering any character.<br>
			<img src="Non-typed_command.png" alt="Non-typed_command" height="150" width ="68">
		</li>
		<li>
			<span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> command normals can be accessed with any simple input that is not already that of a jab and using the <span class="spirit">S</span>/<span class="matter">M</span>/<span class="void">V</span> button:<br>
			They can be canceled by other <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> command normals of the stronger type but you can only use a type once in the same combo or pressure string.<br>
			It means that you can cycle the <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> button once you're using <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> command normals; meaning you can do y<span class="spirit">S</span> -> y<span class="matter">M</span> -> y<span class="void">V</span> or y<span class="matter">M</span> -> y<span class="void">V</span> -> y<span class="spirit">S</span> or y<span class="void">V</span> -> y<span class="spirit">S</span> -> y<span class="matter">M</span> (y being any direction that won't result in a jab).<br>
			<img src="Spirit_command-normal.png" alt="Spirit_command" height="99" width ="192"><span>  </span><img src="Matter_command-normal.png" alt="Matter_command" height="99" width ="175"><span>  </span><img src="Void_command-normal.png" alt="Void_command" height="104" width ="94"><br>
			After that, the cancel tree isn't influenced by types.<br>
		</li>
		<li>
			Special moves use command inputs (236,623,[4]6,63214...) and can be on any button: they are very diversified by nature and no common trope can be said about them.<br>
			<img src="special.png" alt="special" height="110" width ="88">
		</li>
		<li id="super">
			Super moves  use command inputs: they are stronger than specials in general but cost mana.<br>
			<img src="Void_super.png" alt="Void_super" height="156" width ="138">
		</li>
		<li id="ultimate">
			The ultimate is always on 6321469874Z (Z being the main type that the character specializes in): it is a flashy move that costs all your guard, overdrive and mana (and can't be used without having at least of 10% the mana bar if you've used it previously in the game).<br>
			Once the ultimate is used, you lose your overdrive, your passive mana regeneration and your guard bar for the rest of the game, making it only usefull as a game ender most of the time.<br>
			<img src="ultimate.png" alt="ultimate" height="250" width ="126">
		</li>
	</ul>
	Some rare moves break the cancel tree by being hit switch cancelable.<br>
	When a move has that property, it can be cancelled into another move that is at the same "level" in the cancel tree (example: stickman can cancel his 2N into his 5N and reverse because they are hit switch cancellable).<br>
	But it is important to note that most moves with this property can only be cancelled into moves of their own "level" during their active frames and not after.<br>
	The best way to learn this cancel tree is simply to learn your character combos and pressure strings, you will come to understand this cancel tree.<br>
	However, once your opponent or yourself want to diversify your defense/offense that is when understanding the finer details may help you.<br>
	<h2>In Short</h2>
	<pre>5<span class="not-typed">N</span>       /5X            /y<span class="void">V</span> -> y<span class="spirit">S</span> -> y<span class="matter">M</span></pre>
	<pre>/j.5<span class="not-typed">N</span> -> /j.5X -> y<span class="not-typed">N</span> -> /y<span class="spirit">S</span> -> y<span class="matter">M</span> -> y<span class="void">V</span> -> any Special -> any Super -> Ultimate</pre>
	<pre>/2<span class="not-typed">N</span>      /2X            /y<span class="matter">M</span> -> y<span class="void">V</span> -> y<span class="spirit">S</span></pre>
	<br>
	X being <span class="spirit">S</span> or <span class="matter">M</span> or <span class="void">V</span><br>
	y being any direction that doesn't result in a jab (so j.2,j.3,j.6,j.8,3,6,8).<br>
	<pre>	<img src="Cancel_tree.gif" alt="Cancel_tree" height="257" width ="150"></pre>
	<pre>Example of combo using nearly the entire combo tree (only a 3<span class="spirit">S</span> <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> command normal is missing).</pre>
{% endblock %}