{% extends 'base.html' %}
{% block title %}Combo{% endblock %}
{% block content %}
	<h1>Combo</h1>
	<h2>On the Offense</h2>
	Here are the important mechanics to know when theorycrafting combos and applying them.<br>
	<h3 id="limit">The Limit Mechanics.</h3>
	Most moves inflict a certain amount of limit to your opponent.<br>
	There are 4 types of limit: <span class="spirit">Spirit</span>, <span class="matter">Matter</span>, <span class="void">Void</span> and <span class="not-typed">Non-typed</span>.<br>
	Moves of a type inflict limit depending on their type (<span class="neutral">Neutral</span> and <span class="not-typed">Non-typed</span> both inflict <span class="not-typed">Non-typed</span> limit).<br>
	When any of the 4 limits hits 100% or more,  the opponent won't be able to be hit any more, but he will also be unable to air-tech. Then, depending on which limits reach 100%, one or more of the following effects will happen:<br>
	<ul>
		<li><span class="spirit">Spirit</span>: your opponent can't use his meter in any way for a short while after teching.</li>
		<li><span class="matter">Matter</span>: forces a hard knockdown, which means that they are forced into a slower neutral tech.</li>
		<li><span class="void">Void</span>: while your opponent is knocked down or teching, he his attracted by you.</li>
		<li><span class="not-typed">Non-typed</span>: will cancel whatever action you were in the instant you limited your opponent and will make you fall faster, essentially giving you more to oki.</li>
	</ul>
	If one manages to reach 100% or more in multiple limit types at the exact same tyme, each effect will apply.<br>
	<img src="Non_typed_limit.png" alt="Non_typed_limit" height="110" width ="162"><span>  </span><img src="Spirit_limit.png" alt="Spirit_limit" height="110" width ="162"><span>  </span><img src="Matter_limit.png" alt="Matter_limit" height="110" width ="162"><span>  </span><img src="Void_limit.png" alt="Void_limit" height="110" width ="162"><br>
	<h3 id="proration">Proration</h3>
	Every single move in the game has a different proration value and when someone is hit by a move, the proration of that move is applied and will reduce the damage of all consecutive moves in a combo.<br>
	Proration is a percentage and works like this: if a move has 95% of proration then every single move after that move in a combo will deal 5% less damage.<br>
	This proration stacks multiplicatively, so if one use a move with 95% and then combo into another with 95%, all other move in the combo, if they have 100% proration, will deal 9.75 less damge (because 95%x95% = 90.25%).<br>
	To simplify the more you hit someone in a combo, the less damage your moves will do and the more proration a move has (so the closer to 0% its proration is) the less suited this move is to use in combo generally, especially at the beginning of one.<br>
	<img src="Proration.png" alt="proration" height="24" width ="153"><br>
	<h3>Specials and Supers Proration</h3>
	Even if specials and supers have proration like all other move they also have another kind of special proration for each one on top of the normal one.<br>
	When you do more than two specials during a combo, there will be a special proration that will be stacked on top of the normal proration of the move, it will be fairly small at first, but grows exponentially each time a special is used in the same combo.<br>
	The super proration work exactly the same way than specials proration. After the 2nd super and on a special proration will be added and will grow more and more as you use supers, only difference is that it scales harder than specials proration.<br>
	The two are separate from each other, which mean that you can do two specials, and two supers before any proration being added on top of the normal proration of those moves.<br>
	<h3>Loop Protection</h3>
	There is a very simple loop protection in the game, the more you do the exact same move in a combo, the more this move will have proration and limit.<br>
	<h3>Restand</h3>
	Some moves in the game can restand. A move that restands won't knock down your opponent even if he falls to the ground in hitstun (which would normally cause a knockdown).<br>
	That means that you can stop your combo and sacrifice some damge to come back to pressure which might catch your opponent unprepared or be what you need to finish their guard bar down.<br>
	<h3>Offensive Overdrive</h3>
	The offensive overdrive can be used during any move by pressing <span class="neutral">Ascend</span> + <span class="not-typed">N</span> and will consume all your overdrive gage and cancel whatever move you were doing.<br>
	It can be used to strengthen your pressure or make a move safe but can also be used in combo not only to give youa access to better ones, but it also have a special interaction with a <span class="not-typed">Non-typed</span> defensive overdrive as, if you do your offensive overdrive as they do their <span class="not-typed">Non-typed</span> defensive overdrive you will beat their defensive overdrive.<br>
	It is a fairly rare occurence and there are better ways to beat a <span class="not-typed">Non-typed</span> defensive overdive if you see it coming, but it can be relevant.<br>
	<img src="Offensive_overdrive.gif" alt="Offensive_overdrive" height="169" width ="108"><br>
	<h2>Getting Comboed</h2>
	There are things you should be aware and can do during a combo even if few.<br>
	<h3 id="restand">Restand Protection</h3>
	When you're getting restanded you are not left without any chance to strike back as you will get a temporary amount of guard bar added.<br>
	This temporary guard bar remain as long as it's not destroyed by your opponent or as long as you don't parry or do a move and as long as you have some of this temporary bar, your guard bar natural regenration won't be cancelled when blocking a move.<br>
	It will give a bit of leeway for the defender and give them at least a small amount of time to get out of this situation, even if they didn't have that much guard bar remaining.<br>
	<img src="Bonus_guard.png" alt="Bonus_guard" height="18" width ="164"><br>
	<h3>Platforms</h3>
	Yes, platforms can be used on the defender side, as you can press down to decide to go through platforms even while being comboed.<br>
	It means that, when you're getting comboed, you can choose to land on a platform to end their combo sooner, however, you're exposing yourself to a very dangerous okizeme due to the <a href="platforms.html#falling_tech">falling tech state</a>.<br>
	<h3>Defensive Overdrive</h3>
	You can use defensive overdrive by pressing <span class="neutral">A</span> + <span class="not-typed">N</span> or <span class="spirit">S</span> or <span class="matter">M</span> or <span class="void">V</span> when getting combo'd (more precisely, when you're hit by any move).<br>
	If used, the character will do a big shockwave that knocks back your opponent and end their combo.<br>
	However it isn't as simple as pressing any button as the defensive overdrive is typed too.<br>
	The type of your burst depend on your input.<br>
	The <span class="not-typed">Non-typed</span> version of the defensive overdrive will win against most moves of any type, however, it pushes less far and your overdrive will recover much slower after using it.<br>
	All the typed burst only win against the type they are strong against and not even against moves of their own type, however they push the opponent further and your overdrive won't suffer from any recovery penalty.<br>
	<img src="Defensive_overdrive.gif" alt="Defensive_overdrive" height="183" width ="150"><br>
	<h3>Airtech</h3>
	When your untech counter runs out and you haven't been limited, you can perform an airtech by pressing any button and a direction.<br>
	There is a forward, backward, downward and upward airtech.<br>
	When you airtech, you are invincible for a short amount of time but you are vulnerabnle at the end of all airtechs and before you become actionnable again, so be careful.<br>
	The downward airtech works a bit differently since it will go downward until you hit the ground and the character will be invincible all the way.<br>
	However, once you'll hit the ground you will have a lot of vulnerable recovery time.<br>
	<img src="Forward_airtech.gif" alt="Forward_airtech" height="156" width ="150"><span>  </span><img src="Backward_airtech.gif" alt="Backward_overdrive" height="156" width ="150"><span>  </span><img src="Down_airtech.gif" alt="Down_airtech" height="156" width ="150"><span>  </span><img src="Up_airtech.gif" alt="Up_airtech" height="156" width ="150"><br>
	<h3>Ground Tech</h3>
	Once you are knocked down and if you haven't being <span class="matter">Matter</span> limited or hard knocked down, you can perform 3 different grounded tech.<br>
	You can tech forward or backward. When you're teching in a direction, you have no collision box which means you can go through your opponent.<br>
	They are useful to get away from your opponent, but at the end of a directional tech there is a short instant where you can only block, meaning that, if you opponent knows the timing, mashing or using a reversal won't be an option.<br>
	The neutral tech will make you wake up without moving and you will keep your collision box, this might seems like a detriment but you can act as soon as you wake up so you will be able to mash or use reversal effectively.<br>
	<img src="Ground_inward_tech.gif" alt="Ground_inward_tech" height="132" width ="300"><span>  </span><img src="Ground_neutral_tech.gif" alt="Ground_neutral_tech" height="132" width ="300"><span>  </span><img src="Ground_outward_tech.gif" alt="Ground_outward_tech" height="132" width ="300"><br>
{% endblock %}