{% extends 'base.html' %}
{% block title %}HUD{% endblock %}
{% block content %}
	<h1>HUD</h1>
	<img src="HUD.png" alt="HUD" height="508" width ="960"><br>
    1: Number of hits in a <a href="combo.html">combo</a>.<br>
	2: The damage inflicted in a <a href="combo.html">combo</a>.<br>
	3: The <a href="combo.html#proration">proration</a> applied in the ongoing combo.<br>
	4: The four different <a href="combo.html#limit">limits</a>.<br>
	5: Indication of the number of round won and of how many round must be won to win the game.<br>
	6: The <a href="pressure.html">guard bar</a> which is important in defense when blocking and parrying.<br>
	7: The life bar, if one's own life bar is empty, they lose the round.<br>
	8: The red life bar indicates more visally how much damge a combo has dealt.<br>
	9: Bonus guard bar which appears when one is <a href="combo.html#restand">restand</a>.<br>
	10: Your meter bar which is used for your <a href="cancel_tree.html#super">supers</a>, <a href="cancel_tree.html#ultimate">ultimate</a>, and <a href="pressure.html">type switches</a>.<br>
	11: Your overdrive meter, used for your <a href="combo.html#OOverdrive">offensive overdrive</a> and <a href="combo.html#DOverdrive">defensive overdrive</a>.
{% endblock %}