{% extends 'base.html' %}
{% block title %}Meter{% endblock %}
{% block content %}
	<h1>Meter</h1>
	<h2>The Mana Bar</h2>
	There is one mana bar at the bottom of the screen which is the one that is white and yellow.<br>
	There are multiple ways to recover your mana bar, firstly you begin with a fixed amount of mana depending on your character and secondly, the bar regenerate passively.<br>
	The other way to recover you mana is simply by hitting your opponent (but if the opponent blocked you will gain 4 times less.).<br>
	All moves gives a similar amount of mana though some command normals give a bit more.<br>
	However spirit moves give much more mana than other types, making them ideal when you're in need of mana and that is without taking their status effect into account.<br>
	Also mana does not reset between round.<br>
	<img src="Meter.png" alt="Meter" height="22" width ="204"><br>
	<h2>The Use of Meter</h2>
	The most common use of meter is by far for supers.<br>
	Different Supers will use a different amount of mana generally depending on their strength.<br>
	Then there is the ultimate that removes all of your mana (along with your guard bar and overdrive gage.) when you use it, whatever the amount of mana you had before and will remove the passive regeneration of your mana, overdrive and guard for the remaining of the game (not even rounds will reset those effects.).<br>
	If you want to reuse your ultimate in a game after using it once, you must have at least 10% in every mana bar to use it again and it will once again cost you all off your mana.<br>
	The last use of meter is for a system mechanic called type switch.
	Type switch is used by pressing <span class="neutral">A</span> and <span class="spirit">S</span> or <span class="matter">M</span> or <span class="void">V</span>.
	When type switch is used (which can be during another move just like a roman cancel.) for half a second any move you use will become of the type of the type switch (so spirit if you pressed <span class="neutral">A</span> + <span class="spirit">S</span>, matter if you pressed <span class="neutral">A</span> + <span class="matter">M</span>...).
	In effect when you change the type of a move, you will simply change how it interacts with defensive mechanics (Like <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> invincibility, <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> burst...) and what status effect the move will inflict.
	However it won't change the <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> invincibility type of a move or other defensive <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> mechanic (A spirit move spirit and void invul will stay this way after type switch.).
	As such it's main use is in offense since most defensive mechanics are <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> in some ways.
{% endblock %}