{% extends 'base.html' %}
{% block title %}Meter{% endblock %}
{% block content %}
	<h1>Meter</h1>
	<h2>The Mana Bar</h2>
	There is one mana bar at the bottom of the screen which is the one that is white and yellow.<br>
	There are multiple ways to recover your mana bar, firstly you begin with a fixed amount of mana depending on your character and secondly, the bar regenerate passively.<br>
	The other way to recover you mana is simply by hitting your opponent (but if the opponent blocked you will gain 4 times less.).<br>
	All moves gives a similar amount of mana though some command normals give a bit more.<br>
	However spirit moves give much more mana than other types, making them ideal when you're in need of mana and that is without taking their status effect into account.<br>
	Also mana does not reset between round.<br>
	<img src="Meter.png" alt="Meter" height="22" width ="204"><br>
	<h2>Ultimate</h2>
	Using a character's Ultimate will completely empty their Mana Bar, along with their Guard Bar and Overdrive Gauge.<br>
	The passive Mana generation, Overdrive bar regeneration and Guard bar regeneration are all disabled for the rest of the game. However, it does not disable Mana generation through <br>
	hitting the opponent, and as such it is still possible to use Ultimate a second time.<br>
	From here though I don't think it matches the current build of the game since it mentions "10% of each mana" while there is only one mana bar as of now<br>
	I'm starting to think I'd do well as an actual wiki writer...<br>
	<
	Type switch is used by pressing <span class="neutral">A</span> and <span class="spirit">S</span> or <span class="matter">M</span> or <span class="void">V</span>.
	When type switch is used (which can be during another move just like a roman cancel.) for half a second any move you use will become of the type of the type switch (so spirit if you pressed <span class="neutral">A</span> + <span class="spirit">S</span>, matter if you pressed <span class="neutral">A</span> + <span class="matter">M</span>...).
	In effect when you change the type of a move, you will simply change how it interacts with defensive mechanics (Like <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> invincibility, <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> burst...) and what status effect the move will inflict.
	However it won't change the <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> invincibility type of a move or other defensive <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> mechanic (A spirit move spirit and void invul will stay this way after type switch.).
	As such it's main use is in offense since most defensive mechanics are <span class="spirit">Ty</span><span class="matter">p</span><span class="void">ed</span> in some ways.
{% endblock %}